
target/
*~
.classpath
.project
.settings/
.vscode/
**/.DS_Store

log/
dbptk-report-*
dbptk-app.log
dbptk-app-*.log.txt
exported-dbs/
dbptk-model/src/main/resources/dbptk-version.json

**/pom.xml.versionsBackup

test-output/

*.iml
.idea
