<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration>

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p [%d{HH:mm:ss}] %m%n"/>
        </layout>
    </appender>

    <appender name="default.file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="dbptk-app.log.txt"/>
        <param name="maxFileSize" value="36700160"/><!-- 36700160 bytes = 35MB -->
        <param name="maxBackupIndex" value="3"/>
        <param name="append" value="true"/>
        <param name="threshold" value="debug"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d (%c{1}) %m%n"/>
        </layout>
    </appender>

    <logger name="com.databasepreservation" additivity="false">
        <level value="DEBUG"/>
        <!-- 		<level value="TRACE" /> -->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="default.file"/>
    </logger>

    <root>
        <level value="WARN"/>
        <!--<level value="DEBUG" />-->
        <!-- <level value="TRACE" /> -->
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>
