<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TheSuite" verbose="0" parallel="classes" thread-count="5">
    <test name="Testing">
        <groups>
            <!-- All the tests -->
            <define name="all">
                <include name="postgresql-siard1"/>
                <include name="postgresql-siard2"/>
                <include name="mysql-siard1"/>
                <include name="mysql-siard2"/>
                <include name="postgresql-siarddk"/>
                <include name="mysql-siarddk"/>
                <include name="siard-roundtrip"/>
                <include name="siarddk-roundtrip"/>
                <include name="cli"/>
                <include name="unit"/>
                <include name="siarddk"/>
            </define>

            <!-- Tests ran by Travis CI -->
            <define name="travis-ci">
                <include name="postgresql-siard1"/>
                <include name="postgresql-siard2"/>
                <include name="mysql-siard1"/>
                <include name="mysql-siard2"/>
                <include name="siard-roundtrip"/>
                <include name="cli"/>
                <include name="unit"/>
                <include name="siarddk"/>
            </define>

            <!-- Tests that don't have external dependencies -->
            <define name="no-dependencies">
                <include name="siard-roundtrip"/>
                <include name="cli"/>
                <include name="unit"/>
                <include name="siarddk"/>
                <include name="siarddk-roundtrip"/>
            </define>
        </groups>
        <classes>
            <class name="com.databasepreservation.testing.integration.roundtrip.MySqlTest"/>
            <class name="com.databasepreservation.testing.integration.roundtrip.PostgreSqlTest"/>
            <class name="com.databasepreservation.testing.integration.siard.SiardTest"/>
            <class name="com.databasepreservation.testing.integration.siard.SiardDKTestWrapper"/>
            <class name="com.databasepreservation.siarddk.TestSIARDDK1007ImportModule"/>
            <class name="com.databasepreservation.testing.unit.cli.PostgreSQLModuleFactoryTest"/>
            <class name="com.databasepreservation.testing.unit.cli.SQLServerJDBCModuleFactoryTest"/>
            <class name="com.databasepreservation.testing.unit.utils.XMLUtilsTest"/>
            <class name="com.databasepreservation.testing.integration.roundtrip.PostgreSqlSIARDDKTest"/>
            <class name="com.databasepreservation.testing.integration.roundtrip.MySqlSIARDDKTest"/>
            <class name="com.databasepreservation.siarddk.TestSIARDDK1007FileIndexFileStrategy"/>
            <class name="com.databasepreservation.siarddk.TestLOBsTracker"/>
            <class name="com.databasepreservation.siarddk.TestSIARDDKContentExportPathStrategy"/>
            <class name="com.databasepreservation.siarddk.TestSIARDDKsql99ToXsdType"/>
            <class name="com.databasepreservation.testing.integration.siard.SiardTest"/>
            <class name="com.databasepreservation.testing.integration.siard.DevelopmentDebugTest"/>
            <class name="com.databasepreservation.modules.siard.out.metadata.TestSIARDDK1007TableIndexFileStrategy"/>
        </classes>
    </test>
</suite>
