name: "Release"

on:
  push:
    tags:
      - '**'
    branches-ignore:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
  
    env:
      MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: 'adopt'
    - name: Cache
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-
    - name: Run Tests
      run: mvn $MAVEN_CLI_OPTS test install
    
  deploy:
    needs: build
    runs-on: ubuntu-latest
    env:
      MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'adopt'
      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Install DBPTK Bindings
        run: mvn $MAVEN_CLI_OPTS install -Dmaven.test.skip=true -Pbindings
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to GitHub packages
        run: mvn $MAVEN_CLI_OPTS package deploy -Dmaven.test.skip=true -Pdeploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Get the version
        run: echo "release_version=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: Upload DBPTK Developer to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dbptk-core/target/dbptk-app-${{ env.release_version }}.jar
          asset_name: dbptk-app-${{ env.release_version }}.jar
          tag: ${{ github.ref }}
          release_name: Version ${{ env.release_version }}
          draft: true
